.cms-nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 0 pxToEm(-20);

  a {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    padding: pxToEm(10) pxToEm(20);
    gap: 10px;
    transition: color 0.2s;
    font-weight: 600;

    svg {
      transition: fill 0.2s;
    }

    &:hover {
      color: $altColor;

      svg {
        fill: $altColor;
      }
    }
  }
}