.main-nav {
  width: pxToEm(300);
  background: $yellow;
  padding: pxToEm(40) pxToEm(20);
  height: 100%;
  color: $black;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:after, &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    transform: skewX(25deg);
    width: 120%;
    height: 30px;
    background: linear-gradient(to right,
      $red 0%,
      $red 25%,
      darken($red, 10) 25%,
      darken($red, 10) 55%,
      darken($red, 15) 55%,
      darken($red, 15) 100%
    );
    z-index: -1;
  }

  &:before {
    top: 0;
    bottom: auto;
  }
}