.modalContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;

  &--body {
    width: 50%;
    padding: pxToEm(20);
    background: #fff;
    z-index: 1;
    border-radius: pxToEm($border-radius);
    padding-top: pxToEm(30);
    position: relative;
  }

  &--backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0,0,0,0.2);
  }

  &--close {
    padding: 0;
    width: auto;
    line-height: 1;
    background: transparent;
    color: $black;
    position: absolute;
    top: pxToEm(10);
    right: pxToEm(10);

    &:hover {
      color: $red;
      background: transparent;
    }

    &:after {
      display: none;
    }
  }

  button:not(.modalContainer--close) {
    margin-top: pxToEm(20);
  }
}